


  a:hover{
    color: rgb(167, 27, 27);
  } 

a{
  border-radius: 50%;
    padding: 15px;
    text-decoration: none;
    background-color: aqua;
    color: rgb(43, 43, 3);
}
table{

  color:aquamarine  ;
}
img{
  
  border-top-left-radius: 100px;
}
tr{
  color: rgb(12, 75, 12,);
}
h4{
  color: green;
float:left;
margin: 40px;
}

div{
padding: 30px;
background-color: rgb(109, 165, 165);
border-radius: 50px;
width: 80%;
background-position: center;
}







@keyframes example{
  0%{color: rgb(155, 144, 43) ;left:0px; top:0px}
  25%{color:rgb(221, 130, 19); left: 200px; top: 0px; }
  50%{color:rgb(40, 172, 172); left: 200px; top: 200px;}
  75%{color:rgb(174, 177, 38);left: 0px; top:200px;}
  100%{color:rgb(11, 146, 112); left: 0px; top:0px;}

}

h1{

color: rgb(111, 167, 111);
position:relative;

animation-name: example;
animation-duration: 6s;




}












